body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #0f0f0f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.welcome-box {
    background-color: #292929;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin: 10px;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.commands {
    font-size: 18px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    font-size: 16px;
    margin: 5px;
}

#twitch-embed {
    width: 250px; /* Set the width to 250 pixels */
    height: 250px; /* Set the height to 250 pixels */
    margin: 10px;
}

